[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
dj-database-url = "*"
djangorestframework = "==3.9.0"
django-rest-swagger = "*"
emoji = "*"
markdown = "*"
markslack = "==0.0.7"
pytz = "*"
pillow = "*"
"flake8" = "*"
slacker = "*"
celery = "*"
slackchat = {path = "./..",editable = true}
tqdm = "*"
django-foreignform = ">=0.0.5"
setuptools = "*"
twine = "*"
ed0a5ba = {path = "./..",editable = true}

[requires]
python_version = "3.6"
