[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
dj-database-url = "*"
djangorestframework = "*"
django-rest-swagger = "*"
emoji = "*"
markdown = "*"
markslack = "*"
pytz = "*"
pillow = "*"
"flake8" = "*"
slacker = "*"
celery = "*"
slackchat = {path = "./..", editable = true}
tqdm = "*"
django-foreignform = ">=0.0.5"
setuptools = "*"
twine = "*"


[requires]

python_version = "3.6"
