Django==1.11.7
-e git+git@github.com:The-Politico/django-politico-slackchat.git@54903195bc6d967af1ffcbb3b33836b570bc0775#egg=django_politico_slackchat
djangorestframework==3.7.3
emoji==0.4.5
Markdown==2.6.9
markslack==0.0.0a3
pytz==2017.3
