Django==1.11.7
-e git+git@github.com:The-Politico/django-politico-slackchat.git@cd7a0b15f00a5565913a8b8f01dedf6cf18584fe#egg=django_politico_slackchat
djangorestframework==3.7.3
emoji==0.4.5
Markdown==2.6.9
markslack==0.0.0a3
pytz==2017.3
